
@{
    ViewData["Title"] = "NoSuchPage";
}

<div class="text-center mt-3">
    <p>There is no a such item!</p>
    <a class="btn btn-primary w-100" href="/home/user/}" role="button">Back</a>
</div>




